body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: blueviolet;
  line-height: 34px;
  height: 33.3%;
  padding: 0;
  text-align: center;
  width: 33.3%;
}

.permanent-square {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: black;
  line-height: 34px;
  height: 33.3%;
  padding: 0;
  text-align: center;
  width: 33.3%;

  color: transparent;
  text-shadow: 0 0 0 #000;
}

.board-block {
  border: 2px solid #000;
  width: 100px;
}

.row-of-blocks {
  display: flex;
  flex-direction: row;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}
